<!-- Open Graph data -->
<meta property="og:title" content="Connectify || Local Web Developing" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://connectify.it" />
<meta 
    property="og:description"
    content="Connectify is a local web development company that helps small businesses connect with the internet and beyond. Contact us for a consultation." />
<meta 
    property="og:image" 
    content="https://connectify.it/images/og-image.jpg" />

<!-- Twitter card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Connectify || Local Web Developing" />
<meta 
    name="twitter:description"
    content="Connectify is a local web development company that helps small businesses 
             connect with the internet and beyond. Contact us for a consultation." />

<meta name="twitter:image" content="https://connectify.it/images/twitter-card-image.jpg" />